/* Mixin d-flex */
.maincolumn .searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding: 0 0.5rem 0 0;
}

.maincolumn .searchbox input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.maincolumn .weatherbox {
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  color: white;
}

.maincolumn .weatherbox-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maincolumn .weatherbox-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maincolumn .weatherbox-grid .weatherbox-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.maincolumn .weatherbox-grid h2 {
  font-size: 7rem;
}

.maincolumn .weatherbox-grid img {
  height: 25vh;
}

.maincolumn .weatherbox-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maincolumn .weatherbox-footer p {
  margin-right: 1rem;
}

.maincolumn .weatherboxes {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maincolumn .weatherboxes-box {
  background: #e6f9ff;
  border-radius: 1rem;
  width: calc(50% - 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 0.5rem;
}

.maincolumn .weatherboxes-box p {
  display: none;
}

.maincolumn .weatherboxes-box img {
  height: 12vh;
}

.maincolumn .weatherboxes-box h3 {
  font-size: 1.25rem;
}

.maincolumn .weatherboxes-box h1 {
  font-size: 2rem;
}

.maincolumn .weatherboxes-box h1, .maincolumn .weatherboxes-box h3 {
  text-align: center;
}

.weatherbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  padding: 2vh;
  color: white;
}

.weatherbox-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weatherbox .weatherbox-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 30vh;
}

.weatherbox-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.weatherbox-temperature--degree {
  font-size: 5rem;
}

.weatherbox-temperature span {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.weatherbox-temperature div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weatherbox .weatherbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.weatherbox .weatherbox-icon img {
  height: 75%;
}

.weatherbox-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.weatherboxes-box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.weatherboxes-box {
  width: calc(25% - 10px) !important;
  margin-bottom: 20px !important;
}
/*# sourceMappingURL=maincolumn-tablet.css.map */